<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 배상현 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P:A 내정보</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" href="../css/sports.css" th:href="@{/css/sports.css}">
</head>
<body>
<header class="bg-dark text-white py-4" th:replace="fragments/header :: hedaer(${sports})"></header>
<nav class="bg-secondary py-2" th:replace="fragments/nav :: nav(${sports})"></nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="d-flex">
            <div class="card m-4">
                <div class="card-header">
                    <strong>소셜 매치 참가 이력</strong>
                </div>
                <div class="card-body">
                    <ul class="list-group mb-3" th:each="socialUser : ${joinedMatchesDto.socialUsers}">
                        <li class="list-group-item">구장: <strong
                                th:text="|(${socialUser.socialMatch.reservation.ground.location}) ${socialUser.socialMatch.reservation.ground.name}|">ID:</strong>
                        </li>
                        <li class="list-group-item">시간: <strong
                                th:text="|${socialUser.socialMatch.reservation.reservationYmd} - ${socialUser.socialMatch.reservation.reservationTime}시|">ID:</strong>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card m-4">
                <div class="card-header">
                    <strong>팀 매치 참가 이력</strong>
                </div>
                <div class="card-body">
                    <ul class="list-group mb-3" th:each="teamUser : ${joinedMatchesDto.teamUsers}">
                        <li class="list-group-item">구장: <strong
                                th:text="|(${teamUser.teamMatch.reservation.ground.location}) ${teamUser.teamMatch.reservation.ground.name}|">ID:</strong>
                        </li>
                        <li class="list-group-item">시간: <strong
                                th:text="|${teamUser.teamMatch.reservation.reservationYmd} - ${teamUser.teamMatch.reservation.reservationTime}시|">ID:</strong>
                        </li>
                        <li class="list-group-item">팀: <strong th:text="${teamUser.team.name}">ID:</strong></li>
                    </ul>
                </div>
            </div>
            <div class="card m-4">
                <div class="card-header">
                    <strong>용병 매치 참가 이력</strong>
                </div>
                <div class="card-body">
                    <ul class="list-group mb-3"
                        th:each="mercenaryMatchUser : ${joinedMatchesDto.mercenaryMatchUsers}">
                        <li class="list-group-item">구장: <strong
                                th:text="|(${mercenaryMatchUser.mercenaryMatch.reservation.ground.location}) ${mercenaryMatchUser.mercenaryMatch.reservation.ground.name}|">ID:</strong>
                        </li>
                        <li class="list-group-item">시간: <strong
                                th:text="|${mercenaryMatchUser.mercenaryMatch.reservation.reservationYmd} - ${mercenaryMatchUser.mercenaryMatch.reservation.reservationTime}시|">ID:</strong>
                        </li>
                        <li class="list-group-item">
                            팀: <strong th:text="${mercenaryMatchUser.team.name}">ID:</strong>
                            <strong th:if="${mercenaryMatchUser.status.toString().equals('TEAM')}">(팀)</strong>
                            <strong th:if="${mercenaryMatchUser.status.toString().equals('MERCENARY')}">(용병)</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="bg-dark text-white py-3">
    <div class="container text-center">
        <p>&copy; 2024 P:A. All rights reserved.</p>

    </div>
</footer>

</body>
</html>
